<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Akash Dashboard
    </title>
    <!-- Favicon -->
    <link href="./assets/img/online-payment.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="./assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="./assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="./assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: "Ubuntu", sans-serif;
        }

        input,
        select,
        textarea {
            font-family: "Ubuntu", sans-serif;
        }

        .credits {
            padding: 20px;
            font-size: 25px;
        }

        .credits a {
            color: #4FB0C6;
            text-decoration: none;
            font-weight: 700;
        }

        .card {
            position: relative;
            color: white;
            transform-style: preserve-3d;
            transition: 0.5s ease-in-out;
            widtH: 400px;
            height: 250px;
            margin: auto;
            z-index: 2;
            background: transparent;
        }

        @media(max-widtH: 500px) {
            .card {
                widtH: 300px;
                height: 187.5px;
            }
        }

        .card:hover,
        .card.flip {
            transform: rotateY(180deg);
        }

        .card.flip:hover {
            transform: rotateY(0deg);
        }

        .card .front,
        .card .back {
            widtH: 400px;
            height: 250px;
            background: linear-gradient(-45deg, #4FB0C6, #3e79be);
            padding: 20px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
            overflow: hidden;
            transition: 0.5s ease-in-out;
        }

        @media(max-widtH: 500px) {

            .card .front,
            .card .back {
                widtH: 300px;
                height: 187.5px;
            }
        }

        .card .front:after,
        .card .back:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            widtH: 400px;
            height: 250px;
            transition: 0.5s ease-in-out;
            z-index: -1;
            opacity: 0.15;
            background-image: url("http://image.flaticon.com/icons/svg/126/126511.svg");
            background-repeat: no-repeat;
            background-size: 75%;
            background-position: 150px center;
        }

        @media(max-widtH: 500px) {

            .card .front:after,
            .card .back:after {
                widtH: 300px;
                height: 187.5px;
            }
        }

        .card .front {
            z-index: 5;
            transform: rotateY(0deg);
        }

        .card .back {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform: rotateY(180deg);
        }

        .card .back .label {
            font-size: 12.5px;
            font-weight: bold;
            color: rgba(233, 245, 248, 0.85);
            margin-right: 5px;
        }

        .card .back .top {
            padding-top: 40px;
            transition: 0.5s ease-in-out;
        }

        @media (max-width: 500px) {
            .card .back .top {
                padding-top: 15px;
            }
        }

        .card .back .top .magstripe {
            width: 100%;
            height: 50px;
            background: #333;
        }

        .card .back .middle {
            margin-top: -40px;
            padding: 0 20px;
            text-align: right;
        }

        .card .back .middle .cvc {
            width: 100%;
            height: 40px;
            background: white;
            color: black;
            line-height: 40px;
            padding: 0 10px;
            border-radius: 10px;
        }

        .card .front {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card .front .middle .cd-number p {
            margin-bottom: 0;
        }

        .card .front .middle .cd-number p span {
            margin-right: 20px;
            font-size: 25px;
            @media(max-widtH: 500px);
            font-size: 20px;
        }

        .card .front .bottom {
            display: flex;
            justify-content: space-between;
        }

        .card .front .bottom .cardholder .label,
        .card .front .bottom .expires .label {
            font-size: 12.5px;
            font-weight: bold;
            color: rgba(233, 245, 248, 0.85);
        }

        .card .front .top {
            display: flex;
            justify-content: space-between;
        }

        .card .front .top .cardType svg,
        .card .front .top .cardType img {
            width: 70px;
            height: 50px;
            transition: 0.5s ease-in-out;
        }

        @media(max-widtH: 500px) {

            .card .front .top .cardType svg,
            .card .front .top .cardType img {
                width: 50px;
                height: 35px;
            }
        }

        .card .front .top .chip {
            width: 70px;
            height: 50px;
            background: linear-gradient(-45deg, #e1e7ed, #9baec8);
            position: relative;
            border-radius: 5px;
            transition: 0.5s ease-in-out;
        }

        @media(max-widtH: 500px) {
            .card .front .top .chip {
                width: 50px;
                height: 35px;
            }
        }

        .card .front .top .chip:after {
            content: "";
            display: block;
            width: 50px;
            height: 30px;
            transition: 0.5s ease-in-out;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #5a79a3;
            opacity: 0.35;
            border-radius: 5px;
        }

        @media(max-widtH: 500px) {
            .card .front .top .chip:after {
                width: 35px;
                height: 20px;
            }
        }

        .form {
            width: 450px;
            margin: auto;
            padding: 20px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
            margin-top: -20px;
            border-radius: 10px;
            transition: 0.5s ease-in-out;
        }

        .form button.submit {
            display: block;
            padding: 20px 5px;
            width: 100%;
            margin-top: 20px;
            background: #2b90d9;
            color: white;
            border-radius: 5px;
            outline: 0;
            border: none;
            transition: 0.15s ease-in-out;
        }

        .form button.submit:hover {
            background: #2689d2;
        }

        @media(max-widtH: 500px) {
            .form {
                width: 300px;
                margin-top: -25px;
            }
        }

        .form input,
        .form select {
            padding: 10px 5px;
            border-radius: 5px;
            outline: 0;
            border: none;
            box-shadow: 0px 0px 5px #2b90d9;
        }

        .form .cd-validate {
            display: flex;
            justify-content: space-between;
        }

        .form .cd-validate .expiration {
            display: flex;
            justify-content: space-between;
        }

        .form .cd-validate .expiration .field:last-child {
            margin-left: 10px;
        }

        .form .cd-validate .cvc {
            text-align: right;
        }

        .form .cd-validate .cvc input#cvc {
            width: 50px;
        }

        .form .cd-validate label {
            display: block;
            margin-bottom: 10px;
        }

        .form .cd-holder {
            margin: 20px 0;
        }

        .form .cd-holder label {
            display: block;
            margin-bottom: 10px;
        }

        .form .cd-holder input {
            width: 100%;
        }

        .form .cd-numbers {
            margin: 20px 0;
        }

        .form .cd-numbers label {
            display: block;
            margin-bottom: 10px;
        }

        .form .cd-numbers .fields {
            display: flex;
        }

        .form .cd-numbers .fields input {
            width: 100%;
            margin: 0 10px;
        }

        .form .cd-numbers .fields input:first-child {
            margin-left: 0;
        }

        .form .cd-numbers .fields input:last-child {
            margin-right: 0;
        }
    </style>
</head>

<body class="">
    <%- include('./partials/navbar'); -%>
    <div class="main-content">
        <!-- Navbar -->
        <%- include('./partials/header'); -%>
        <!-- End Navbar -->
        <!-- Header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        </div>
        <div class="container-fluid mt--7">
            <div class="row my-5">
                <div class='card'>
                    <div class='front'>
                        <div class='top'>
                            <div class='chip'></div>
                            <div class='cardType'><svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                                    xmlns:cc="http://creativecommons.org/ns#"
                                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                    xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                                    version="1.1" id="svg10306" viewBox="0 0 500.00001 162.81594" height="162.81593"
                                    width="500">
                                    <defs id="defs10308">
                                        <clipPath id="clipPath10271" clipPathUnits="userSpaceOnUse">
                                            <path id="path10273"
                                                d="m 413.742,90.435 c -0.057,-4.494 4.005,-7.002 7.065,-8.493 3.144,-1.53 4.2,-2.511 4.188,-3.879 -0.024,-2.094 -2.508,-3.018 -4.833,-3.054 -4.056,-0.063 -6.414,1.095 -8.289,1.971 l -1.461,-6.837 c 1.881,-0.867 5.364,-1.623 8.976,-1.656 8.478,0 14.025,4.185 14.055,10.674 0.033,8.235 -11.391,8.691 -11.313,12.372 0.027,1.116 1.092,2.307 3.426,2.61 1.155,0.153 4.344,0.27 7.959,-1.395 l 1.419,6.615 c -1.944,0.708 -4.443,1.386 -7.554,1.386 -7.98,0 -13.593,-4.242 -13.638,-10.314 m 34.827,9.744 c -1.548,0 -2.853,-0.903 -3.435,-2.289 l -12.111,-28.917 8.472,0 1.686,4.659 10.353,0 0.978,-4.659 7.467,0 -6.516,31.206 -6.894,0 m 1.185,-8.43 2.445,-11.718 -6.696,0 4.251,11.718 m -46.284,8.43 -6.678,-31.206 8.073,0 6.675,31.206 -8.07,0 m -11.943,0 -8.403,-21.24 -3.399,18.06 c -0.399,2.016 -1.974,3.18 -3.723,3.18 l -13.737,0 -0.192,-0.906 c 2.82,-0.612 6.024,-1.599 7.965,-2.655 1.188,-0.645 1.527,-1.209 1.917,-2.742 l 6.438,-24.903 8.532,0 13.08,31.206 -8.478,0" />
                                        </clipPath>
                                        <linearGradient id="linearGradient10277" spreadMethod="pad"
                                            gradientTransform="matrix(84.1995,31.0088,31.0088,-84.1995,19.512,-27.4192)"
                                            gradientUnits="userSpaceOnUse" y2="0" x2="1" y1="0" x1="0">
                                            <stop id="stop10279" offset="0" style="stop-opacity:1;stop-color:#222357" />
                                            <stop id="stop10281" offset="1" style="stop-opacity:1;stop-color:#254aa5" />
                                        </linearGradient>
                                    </defs>
                                    <g transform="translate(-333.70157,-536.42431)" id="layer1">
                                        <g id="g10267"
                                            transform="matrix(4.9846856,0,0,-4.9846856,-1470.1185,1039.6264)">
                                            <g clip-path="url(#clipPath10271)" id="g10269">
                                                <g transform="translate(351.611,96.896)" id="g10275">
                                                    <path id="path10283"
                                                        style="fill: white;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                                        d="M 0,0 98.437,36.252 120.831,-24.557 22.395,-60.809" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg></div>
                        </div>
                        <div class='middle'>
                            <div class='cd-number'>
                                <p><span class='num-1'>8512</span><span class='num-2'>5211</span><span
                                        class='num-3'>1287</span><span class='num-4'>9385</span></p>
                            </div>
                        </div>
                        <div class='bottom'>
                            <div class='cardholder'>
                                <p class='label'>Cardholder</p>
                                <p class='holder'><%= firstname + " " + lastname %></p>
                            </div>
                            <div class='expires'>
                                <p class='label'>Valid Thru<a</p> <p><span class='month'>09</span>/<span
                                            class='year'>21</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class='back'>
                        <div class='top'>
                            <div class='magstripe'></div>
                        </div>
                        <div class='middle'>
                            <p class='label'>CVC</p>
                            <div class='cvc'>
                                <p style="line-height: 2.5">754</p>
                            </div>
                        </div>
                        <div class='bottom'>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <%- include('./partials/footer'); -%>
        </div>
    </div>
    <!--   Core   -->
    <script src="./assets/js/plugins/jquery/dist/jquery.min.js"></script>
    <script src="./assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--   Optional JS   -->
    <script src="./assets/js/plugins/chart.js/dist/Chart.min.js"></script>
    <script src="./assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
    <!--   Argon JS   -->
    <script src="./assets/js/argon-dashboard.min.js?v=1.1.0"></script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
</body>

</html>