<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Akash | Send Money to anywhere</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js'></script>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
  <div class="ui inverted vertical masthead center aligned segment"
    style="background: url('./assets/images/bg1.jpg'); background-size: cover">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item" href="/">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <div class="right item">
          <a class="ui inverted button" href="./login">Log in</a>
          <a class="ui inverted button" href="./register">Sign Up</a>
        </div>
      </div>
      <div class="ui text container">
        <h1 class="ui inverted header">Pay with Minder</h1>
        <h2>and get 20% discount</h2>
        <div class="ui huge primary button">
          See Vendors <i class="right arrow icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Zero Transaction Fee!!</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, fugiat quas pariatur vero non ullam nam
            sapiente! Veritatis, autem officiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit?
          </p>
          <h3 class="ui header">Over 30K Online Shop and 191 Countries</h3>
          <p>
            Yes that's right, you thought it was the stuff of dreams, but
            now you can pay anywhere you want.
          </p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/online-banking.jpg" class="ui large bordered rounded image" />
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">
              Sitemap
            </a>
            <a href="#" class="item">
              Contact Us
            </a>
            <a href="#" class="item">
              Religious Ceremonies
            </a>
            <a href="#" class="item">
              Policy
            </a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">
              API Docs
            </a>
            <a href="#" class="item">
              FAQ
            </a>
            <a href="#" class="item">
              How To Access
            </a>
            <a href="#" class="item">
              Terms
            </a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>
            Extra space for a call to action inside the footer that could
            help re-engage users.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>